<div>
  <h2><strong>Excellent wetting</strong></h2>
  <p>The LMPA-Q&trade; alloy gives excellent wetting on all finishings, including OSP.</p>
  <img src="/assets/images/good-wetting-1.jpg" alt="excellent wetting of component with LMPA-Q 1" width="560" height="420">
  <img src="/assets/images/good-wetting-2.jpg" alt="excellent wetting of component with LMPA-Q 2" width="560" height="420">
  <img src="/assets/images/good-wetting-3.jpg" alt="excellent wetting of component with LMPA-Q 3" width="560" height="420">
</div>
