.temperature-guage {
  position: relative;
  .label {
    position: absolute;

    &#lmpa {
      top: -20px;
      right: 180px;
    }
    &#sac {
      top: 148px;
      right: 59px;
    }
    h3 {
      margin: 0 0 10px;
    }
    p {
      margin: 0;
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    .arrow {
      > g {
        transform: rotate(-108deg);

        transform-origin: center;
      }
    }
    #pies {
      > path {
        opacity: 0;
        transition: opacity 400ms ease;
      }
    }
    &.wave {
      #pies path.wave {
        opacity: 0.15;
      }
    }
    &.selective {
      #arrow-lmpa > g {
        transform: rotateZ(30deg); // ignored...
      }
      #arrow-sac > g {
        transform: rotateZ(75deg); // ignored...
      }
      #pies path.selective {
        opacity: 0.15;
      }
    }
    &.reflow {
      #pies {
        path.reflow {
          opacity: 0.15;
        }
      }
    }
  }
}
