.temperature-guage {
  svg {
    display: block;
    width: 32vw;
    height: 100%;
    .arrow {
      &.sac {
        > g {
          transform: rotate(50deg);
        }
      }
      > g {
        transform-origin: center;
        transition: transform 400ms ease;
        transform: rotate(20deg);
      }
    }
    #pies {
      > path {
        opacity: 0;
        transition: opacity 400ms ease;
      }
    }
    &.wave {
      #pies path.wave {
        opacity: 0.15;
      }
      .arrow.lmpa > g {
        transform: rotate(22deg);
      }
      .arrow.sac > g {
        transform: rotate(43deg);
      }
    }
    &.selective {
      #pies path.selective {
        opacity: 0.15;
      }
      .arrow.lmpa > g {
        transform: rotate(50deg);
      }
      .arrow.sac > g {
        transform: rotate(30deg);
      }
    }
    &.reflow {
      #pies {
        path.reflow {
          opacity: 0.15;
        }
      }
      .arrow.lmpa > g {
        transform: rotate(10deg);
      }
      .arrow.sac > g {
        transform: rotate(50deg);
      }
    }
  }
}
