.temperature-guage {
  svg {
    display: block;
    width: 32vw;
    height: 100%;
    .arrow {
      > g {
        transform: rotate(-108deg);

        transform-origin: center;
      }
    }
    #pies {
      > path {
        opacity: 0;
        transition: opacity 400ms ease;
      }
    }
    &.wave {
      #pies path.wave {
        opacity: 0.15;
      }
    }
    &.selective {
      #pies path.selective {
        opacity: 0.15;
      }
    }
    &.reflow {
      #pies {
        path.reflow {
          opacity: 0.15;
        }
      }
    }
  }
}
