<div class="label" id="lmpa">
  <h3>LMPA-Q</h3>
  <p>{{minTempLMPA}}째C - {{maxTempLMPA}}째C</p>
</div>
<div class="label" id="sac">
  <h3>Sn(Ag)Cu</h3>
  <p>{{minTempSAC}}째C - {{maxTempSAC}}째C</p>
</div>
<SvgTemperatureGauge />