<ButtonLink
  @route={{prevRoute}}
  @text="Back"
  class="medium white-border"
/>
<ul>
  {{#each allRoutes as |route|}}
    <li>
      {{#link-to route}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
<ButtonLink
  @route={{nextRoute}}
  @text="Next"
  class="medium white-border"
  data-test-next
/>