<div>
  <h2>Developed by Interflux Electronics with <strong>37 years of experience</strong> in soldering chemistry</h2>
  <p>Interlfux Electronics has been has researching and developing soldering chemistry since 1987. That’s 37 years of know-how bundled into the LMPA. That’s your 37 years of guarantee that we what we deliver is of unrivaled market-leading quality. Soldering chemistry is what we love and do best.</p>
  <p>We specialise in soldering fluxes, solder wires, solder pastes and spray fluxers.</p>
</div>
