html {
  min-width: 320px;
  min-height: 100%;
}

body {
  // We support screen width above 320px only
  min-width: 320px;
  min-height: 100%;
  // The styles all headings and paragraphs will inherit, no need to add <p> rules
  font-family: $lato-regular;
  font-size: 16px;
  line-height: 100%;
  color: $paragraph-grey;
  // To make all browsers render fonts the same
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Interflux
  background: $interflux-blue url('images/background.jpg') no-repeat 50% 50% / cover;
  background-attachment: fixed;
}

// To avoid browsers from trying to bold our already bold font families, remove all default margins
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin: 0;
  font-weight: normal;
}

// Prevent <img> and <iframe> from having awkward empty space underneath
iframe,
img {
  display: block;
}

// Most of the time <ul> are not used as bullets, thus we overwrite default padding / margin
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    color: $paragraph-grey;
  }
}

// Callouts for distinguishing SAC vs LMPA
h4 {
  line-height: 22px;
  border: 2px solid white;
  color: white;
  font-size: 1.7vw;
  padding: 1vw 1.4vw;
  line-height: 140%;
  strong {
    font-family: $lato-black;
  }
  &.callout {
    position: relative;
    &:after,
    &:before {
      position: absolute;
      content: ' ';
      width: 0;
      height: 0;
      left: 3vw;
      bottom: -1.3vw;
      border-left: 1.5vw solid transparent;
      border-right: 1.5vw solid transparent;
      border-top: 1.5vw solid transparent;
    }
    &:after {
      border-top-color: $lmpa-orange;
    }
    &:before {
      border-top-color: white;
      bottom: -1.6vw;
    }
    &.top {
      &:after,
      &:before {
        top: -1.3vw;
        border-top: 0;
        border-bottom: 1.5vw solid transparent;
      }
      &:after {
        border-top-color: transparent;
        border-bottom-color: $lmpa-orange;
      }
      &:before {
        border-top-color: transparent;
        border-bottom-color: white;
        top: -1.6vw;
      }
    }
  }
  &.lmpa {
    background: $lmpa-orange;
  }
  &.sac {
    background: $faint-orange;
    &:after {
      border-top-color: $faint-orange;
    }
    &.top {
      &:after {
        border-top-color: transparent;
        border-bottom-color: $faint-orange;
      }
    }
  }
}

li,
p {
  font-size: 1.6vw;
  line-height: 150%;
  margin: 2vw 0;
  max-width: 52vw;
  @media (max-width: #{(16/0.016)}px) {
    font-size: 16px;
    margin-bottom: 24px;
  }
  @media (max-width: 600px) {
    max-width: none;
  }
  strong {
    font-family: $lato-bold;
  }
}

a {
  text-decoration: underline;
  color: $interflux-light-blue;
  &:hover {
    text-decoration: none;
    color: $lmpa-orange;
  }
}

a.button,
button {
  font-size: 16px;
  font-family: $lato-regular;
  line-height: 40px;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0 !important;
  background: none;
  box-sizing: border-box;
  user-select: none;
  &.light-blue {
    background: $interflux-light-blue;
    color: white;
    font-family: $lato-bold;
  }
}

body > .ember-view {
  min-height: 100vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  justify-content: center;
  padding-bottom: 10vw;
}

main {
  width: 100vw;
  height: 100%;
  min-width: 320px;
  background: white;
  > div {
    padding: 10vw 11vw;
    @media (max-width: #{30/(10/100)}px ) {
      padding: 40px;
    }
  }
  sup {
    width: 0;
    display: inline-block;
    transform: translateX(-4px);
  }
  h2 {
    font-size: 3.8vw;
    line-height: 130%;
    font-family: $lato-regular;
    color: $interflux-blue;
    margin: 0 0 3vw;
    @media (max-width: #{30/(3.4/100)}px) {
      font-size: 30px;
      min-width: 100%;
    }
    @media (max-width: 600px) {
      margin: 20px 0 50px;
    }
    strong {
      font-family: $lato-bold;
    }
  }
  h3 {
    font-size: 2vw;
    font-family: $lato-black;
    color: $paragraph-grey;
    padding: 0;
    margin: 3vw 0 1vw;
    border: 0;
    @media (max-width: #{(17/0.02)}px) {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
}
