html {
  min-width: 320px;
  min-height: 100%;
}

body {
  // We support screen width above 320px only
  min-width: 320px;
  min-height: 100%;
  // The styles all headings and paragraphs will inherit, no need to add <p> rules
  font-family: $lato-regular;
  font-size: 16px;
  line-height: 100%;
  color: $paragraph-grey;
  // To make all browsers render fonts the same
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Interflux
  background: $interflux-blue url('images/background.jpg') no-repeat 50% 50% / cover;
}

// To avoid browsers from trying to bold our already bold font families, remove all default margins
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin: 0;
  font-weight: normal;
}
strong {
  font-family: $lato-black;
}

// Prevent <img> and <iframe> from having awkward empty space underneath
iframe,
img {
  display: block;
}

// Most of the time <ul> are not used as bullets, thus we overwrite default padding / margin
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: $paragraph-grey;
  }
}

// The logo
h1 {
  font-size: 28px;
  font-family: $lato-regular;
  line-height: 100%;
  margin: 0;
  color: $interflux-blue;
}

// Main page title
h2 {
  font-size: 3.4vw;
  line-height: 130%;
  font-family: $lato-regular;
  color: $interflux-blue;
  margin: 0 0 3vw;
  strong {
    font-family: $lato-bold;
  }
}

// Callouts for distinguishing SAC vs LMPA
h3 {
  line-height: 22px;
  border: 2px solid white;
  color: white;
  font-size: 1.7vw;
  padding: 1vw 1.4vw;
  line-height: 140%;
  strong {
    font-family: $lato-black;
  }
  &.callout {
    position: relative;
    &:after,
    &:before {
      position: absolute;
      content: ' ';
      width: 0;
      height: 0;
      left: 3vw;
      bottom: -1.3vw;
      border-left: 1.5vw solid transparent;
      border-right: 1.5vw solid transparent;
      border-top: 1.5vw solid transparent;
    }
    &:after {
      border-top-color: $lmpa-orange;
    }
    &:before {
      border-top-color: white;
      bottom: -1.6vw;
    }
  }
  &.lmpa {
    background: $lmpa-orange;
  }
  &.sac {
    background: $faint-orange;
    &:after {
      border-top-color: $faint-orange;
    }
  }
}

li,
p {
  font-size: 1.6vw;
  line-height: 170%;
  margin: 0 0 2vw;
  max-width: 60vw;
}

a {
  text-decoration: underline;
  color: $interflux-light-blue;
  &:hover {
    text-decoration: none;
    color: $lmpa-orange;
  }
}

a.button,
button {
  font-size: 16px;
  font-family: $lato-regular;
  line-height: 40px;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0 !important;
  background: none;
  box-sizing: border-box;
  user-select: none;
  &.white-border {
    border: 2px solid white;
    border-radius: 3px;
    font-size: 17px;
    font-family: $lato-black;
    color: #fff;
    font-size: 2vw;
    line-height: 240%;
    &:focus,
    &:hover {
      background: rgba($lmpa-orange, 40%);
    }
  }
  &.light-blue {
    background: $interflux-light-blue;
    color: white;
    font-family: $lato-bold;
  }
}
body > .ember-view {
  min-height: 100vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  justify-content: center;
  padding-bottom: 10vw;
  footer,
  header,
  main {
    width: 95vw;
    margin: 0 auto;
  }
  main {
    height: 100%;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: 400ms all ease-out;
    box-sizing: border-box;
    > div {
      padding: 10vw 11vw;
    }
    sup {
      width: 0;
      display: inline-block;
      transform: translateX(-4px);
    }
  }
}
