/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.1.2 - 2015
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/
#outdated {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  width: 100%;
  height: 170px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #F25648;
  h6 {
    margin: 30px 0 10px;
    font-size: 25px;
    line-height: 25px;
  }
  p {
    margin: 0;
    font-size: 12px;
    line-height: 12px;
  }
  #btnUpdateBrowser {
    position: relative;
    display: block;
    width: 230px; /*need for IE*/
    padding: 10px 20px;
    margin: 30px auto 0;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #FFF;
    &:hover {
      color: #F25648;
      background-color: #FFF;
    }
  }
  .last {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px;
    &[dir='rtl'] {
      right: auto !important;
      left: 25px !important;
    }
  }
  #btnCloseUpdateBrowser {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 36px;
    line-height: 36px;
    color: #FFF;
    text-decoration: none;
  }
  * html & {
    position: absolute;
  }
}
