// Fonts
$lato-light: 'Lato-Light', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;
$lato-bold: 'Lato-Bold', sans-serif;
$lato-black: 'Lato-Black', sans-serif;

// Brand colours
$interflux-blue: #23578C;
$interflux-light-blue: #5192D5;
$lmpa-orange: #FF7300;

// UI colours
$paragraph-grey: #596979;
$error-red: #FF7F7F;
