// Fonts
$lato-light: 'Lato-Light', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;
$lato-bold: 'Lato-Bold', sans-serif;
$lato-black: 'Lato-Black', sans-serif;

// Brand colours
$hotdoc-green: #1EA160;
$hotdoc-navy: #343B48;

// Colours unique to this project
$paragraph-grey: #5D626D;
$highlight-blue: #3D93D0;
$highlight-blue-bg: #E8F2F9;
$error-red: #FF7F7F;
$background-grey: #F7F7F7;
$border-grey-dark: #CDCDCD;
$border-grey-light: #EEEEEE;
