// Fonts
$lato-light: 'Lato-Light', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;
$lato-bold: 'Lato-Bold', sans-serif;
$lato-black: 'Lato-Black', sans-serif;

// Brand colours
$interflux-blue: #23578C;
$interflux-light-blue: #5192D5;
$lmpa-orange: #FF7300;
$sac-grey: #6f6f6f;
$faint-orange: #F2AB72;

// UI colours
$paragraph-grey: #596979;
$paragraph-grey: #425B75;
$error-red: #FF7F7F;
$background-grey: #F3F3F3;

// Easings
// https://matthewlein.com/ceaser/
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
