<div>
  <h2 class="center">Reduce <strong><nobr>production costs</nobr></strong></h2>
  <ul>
    <li id="electricity">
      <h3>20%-25% lower electricity bills</h3>
      <p>Because of the lower process temperatures, soldering with <nobr>LMPA<sup>&trade;</sup>-Q</nobr> will reduce electricity consumption in between 20%-25% compared to Sn(Ag)Cu alloys.</p>
      <div class="graph" data-drop="-22%">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;22%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="oxides">
      <h3>95% less wasted alloys</h3>
      <p>Due to its low oxidation behavior <nobr>LMPA<sup>&trade;</sup>-Q</nobr> will produce 95% less dross in wave soldering without nitrogen compared to Sn(Ag)Cu.</p>
      <div class="graph" data-drop="-95%">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;95%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="nitrogen">
      <h3>Soldering without nitrogen</h3>
      <p><nobr>LMPA<sup>&trade;</sup>-Q</nobr> does not need nitrogen for wave and reflow soldering.</p>
      <div class="graph" data-drop="-100%">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;100%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="silver">
      <h3>Lower alloy cost</h3>
      <p><nobr>LMPA<sup>&trade;</sup>-Q</nobr> does not contain silver (Ag). This can significantly lower the alloy cost up to 40%.</p>
      <div class="graph" data-drop="-40%">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;40%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="first-pass">
      <h3>Higher first pass yields</h3>
      <p>Soldering with the <nobr>LMPA<sup>&trade;</sup>-Q</nobr> alloy can substantially increase first pass yields, especially on electronic units with heavy thermal mass.</p>
      <div class="graph animated">
        <div class="counter">
          <div class="fill">
            <p>
              <span>Reduce repair costs</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="failures">
      <h3>Eliminate heat-related failures</h3>
      <p>The lower soldering temperatures of the <nobr>LMPA<sup>&trade;</sup>-Q</nobr> alloy will virtually eliminate heat-related board and component failures and allow the use of lower cost materials</p>
      <div class="graph animated">
        <div class="counter">
          <div class="fill">
            <p>
              <span>Reduce material cost</span>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
