<div>
  <h2><strong>Reduce production costs</strong>, increase capacity</h2>
  <ul>
    <li id="electricity">
      <h3>22% lower electricty bills</h3>
      <p>Because LMPA operates at lower temperatures you will consume &plusmn;22% less electricity than you would with SAC (SnAgCu).</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA&trade;</p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;22%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="oxides">
      <h3>95% less wasted alloys</h3>
      <p>Wave soldering tends to create a layer of wasted oxidation. SAC creates about 7kg of wasted alloy per production week. LMPA creates about 0.4kg.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA&trade;</p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;95%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="nitrogen">
      <h3>No nitrogen needed</h3>
      <p>It's common to use nitrogen gas for cooling down the boards and components. Nitrogen can be quite costly. With LMPA-Q you no longer need nitrogen for wave and reflow soldering.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA&trade;</p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;100%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="silver">
      <h3>Contains no silver (Ag)</h3>
      <p>LMPA alloys do not contain costly silver (Ag). This significantly lowers the material cost of our solder alloy with about &plusmn;40%.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA&trade;</p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;40%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="first-pass">
      <h3>Higher first pass yields</h3>
      <p>The chance that your card will be soldered correctly from the first pass with LMPA are about 2 times higher than with SAC. Waste less production time.</p>
      <div class="blocks">
        <div class="counter">
          <div class="fill">
            <p>
              <span>Save production time</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="failures">
      <h3>Reduce heat-related failures</h3>
      <p>Because LMPA operates at lower temperatures you'll have less heat-related board and component failures. Waste less production time and having to buy boards and components.</p>
      <div class="blocks">
        <div class="counter">
          <div class="fill">
            <p>
              <span>Save valuable board &amp; components</span>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
