<div>
  <h2><strong>Reduce production costs</strong>, increase capacity</h2>
  <ul>
    <li id="electricity">
      <h3>20%-25% lower electricity bills</h3>
      <p>Because of the lower process temperatures, soldering with LMPA<sup>&trade;</sup>-Q will reduce electricity consumption in between 20%-25% compared to Sn(Ag)Cu alloys.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;22%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="oxides">
      <h3>95% less wasted alloys</h3>
      <p>Due to its low oxidation behavior LMPA<sup>&trade;</sup>-Q will produce 95% less dross in wave soldering without nitrogen compared to Sn(Ag)Cu.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;95%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="nitrogen">
      <h3>Soldering without nitrogen</h3>
      <p>LMPA<sup>&trade;</sup>-Q does not need nitrogen for wave and reflow soldering.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;100%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="silver">
      <h3>Lower alloy cost</h3>
      <p>LMPA<sup>&trade;</sup>-Q does not contain silver (Ag). This can significantly lower the alloy cost up to 40%.</p>
      <div class="blocks">
        <div class="sac">
          <p>SAC</p>
        </div>
        <div class="lmpa">
          <div class="fill">
            <p>LMPA<sup>&trade;</sup></p>
          </div>
        </div>
        <div class="counter">
          <div class="fill">
            <p>
              <span>&minus;40%</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="first-pass">
      <h3>Higher first pass yields</h3>
      <p>Soldering with the LMPA<sup>&trade;</sup>-Q alloy can substantially increase first pass yields, especially on electronic units with heavy thermal mass.</p>
      <p>The chance that your card will be soldered correctly from the first pass with LMPA are about 2 times higher than with SAC. Waste less production time.</p>
      <div class="blocks">
        <div class="counter">
          <div class="fill">
            <p>
              <span>Reduce repair costs</span>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li id="failures">
      <h3>Eliminate heat-related failures</h3>
      <p>The lower soldering temperatures of the LMPA<sup>&trade;</sup>-Q alloy will virtually eliminate heat-related board and component failures and allow the use of lower cost materials</p>
      <div class="blocks">
        <div class="counter">
          <div class="fill">
            <p>
              <span>Reduce material cost</span>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
