<div>
  <h2>Developed with <strong>{{years}} years of experience</strong> in soldering chemistry</h2>
  <p>Interflux&reg; Electronics NV has been researching and developing soldering chemistry since 1980. That's {{years}} years of know-how bundled into the LMPA-Q. That's your {{years}} years of guarantee that what we deliver is of unrivaled market-leading quality in soldering fluxes, solder wires, solder pastes and spray fluxers for the electronics assembly industry.</p>
  <div id="images">
    <img
      src="/assets/images/product-IF-2005M.jpg"
      width="200"
      height="200"
      alt="IF 2005M soldering flux"
    >
    <img
      src="/assets/images/product-DP-5600.jpg"
      width="200"
      height="200"
      alt="DP 5600 solder paste"
    >
    <img
      src="/assets/images/product-iflex-400.png"
      width="200"
      height="200"
      alt="iFlex 400 solder wire"
    >
    <img
      src="/assets/images/product-ICSF-select.jpg"
      width="200"
      height="200"
      alt="ICSF Select flux sprayer"
    >
  </div>
  <p>Soldering chemistry is what we love and do best.</p>
</div>