header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 320px;
  // > div {
  //   max-width: 1080px;
  //   margin: 0 auto;
  // }
  #logo {
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    display: flex;
    padding: 18px;
    // @media (max-width: 1080px) {
    //   padding: #{(22/1080)*100}vw;
    // }
    // @media (max-width: #{14/(22/1080)}px) {
    //   padding: 14px;
    // }
    a {
      display: block;
      @media (min-width: 601px) {
        width: 30vw;
      }
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 22vw;
        max-width: 238px;
        min-width: 180px;
        height: auto;
      }
    }
  }
  #lmpa {
    margin: 6px 0;
    @media (max-width: 1080px) {
      margin: 0.5vw 0;
    }
    @media (max-width: 550px) {
      width: 100vw;
      min-width: 320px;
      margin: 0;
      order: 1;
    }
    a {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      text-decoration: none;
      margin: 0 auto;
      background: $lmpa-orange;
      height: 100%;
      box-sizing: border-box;
      @media (max-width: 550px) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 7px 0 10px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    h1,
    h2 {
      color: white;
      @media (min-width: 601px) {
        text-align: center;
      }
    }
    h1 {
      position: relative;
      font-family: $lato-black;
      line-height: 100%;
      font-size: 64.8px;
      @media (max-width:1080px) {
        font-size: 6vw;
      }
      @media (max-width: 766px) {
        font-size: 46px;
      }
      sup {
        position: absolute;
        display: block;
        width: 0;
        right: 7.56px;
        font-size: 16px;
        top: 15.12px;
        @media (max-width: 1080px) {
          font-size: 1.5vw;
          top: 1.4vw;
          right: 0.7vw;
        }
      }
    }
    h2 {
      font-family: $lato-regular;
      line-height: 100%;
      margin: 1px 0 0;
      font-size: 15px;
      @media (max-width: 1080px) {
        margin: 0.1vw 0 0;
        font-size: 1.4vw;
      }
      @media (max-width: 786px) {
        font-size: 11px;
      }
    }
  }
  #cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30vw;
    .button {
      margin-right: 2.2vw;
      @media (max-width: 700px) {
        margin-right: 7px;
      }
    }
  }
  #burger {
    display: none;
  }
  // #burger {
  //   border-left: 1px solid rgba(255, 255, 255, 0.2);
  //   @media (min-width: 801px) {
  //     display: none;
  //   }
  //   button {
  //     display: flex;
  //     flex-flow: column nowrap;
  //     justify-content: center;
  //     align-items: center;
  //     color: white;
  //     width: 80px;
  //     height: 80px;
  //     padding: 0;
  //     svg {
  //       width: 40px;
  //     }
  //     span {
  //       line-height: 100%;
  //       margin-bottom: 2px;
  //       font-size: 12px;
  //       font-family: $lato-bold;
  //     }
  //   }
  // }
}
