header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  a {
    text-decoration: none;
    h1 {
      text-align: center;
      strong {
        position: relative;
        display: block;
        font-size: 50px;
        font-family: $lato-black;
        line-height: 100%;
        sup {
          position: absolute;
          right: -28px;
          top: 2px;
          line-height: 100%;
          font-family: $lato-light;
          font-size: 20px;
          right: -15px;
          top: 4px;
        }
      }
      small {
        display: block;
        font-size: 14px;
        font-family: $lato-light;
        line-height: 100%;
        margin: 2px auto 4px;
      }
    }
  }
}
