header {
  > div {
    padding: 2.4vw 0;
    &.desktop {
      display: flex;
      flex-flow: row nowrap;
      > div {
        display: flex;
        width: calc(100%/3);
        align-items: center;
        &.lmpa {
          justify-content: center;
        }
        &.cta {
          justify-content: flex-end;
        }
      }
      img {
        height: auto;
        width: 25vw;
      }
      a {
        text-decoration: none;
        color: white;
        h1 {
          font-size: 4.6vw;
          color: white;
          text-align: center;
          strong {
            position: relative;
            display: block;
            font-size: 50px;
            font-family: $lato-black;
            line-height: 100%;
            sup {
              position: absolute;
              right: -28px;
              top: 2px;
              line-height: 100%;
              font-family: $lato-light;
              font-size: 20px;
              right: -15px;
              top: 4px;
            }
          }
          small {
            display: block;
            font-size: 14px;
            font-family: $lato-light;
            line-height: 100%;
            margin: 2px auto 4px;
          }
        }
      }
    }
    &.mobile {
      display: none;
      padding: 0;
      flex-flow: row nowrap;
      justify-content: space-between;
      @media (max-width: 800px) {
        display: flex;
      }
      .logo {
        h1 {
          font-size: 18px;
          font-family: $lato-bold;
          margin: 0;
        }
        h2 {
          font-size: 54px;
          font-family: $lato-black;
          margin: 0;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
      .button {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        button {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          color: white;
          width: 80px;
          height: 80px;
          padding: 0;
          svg {
            width: 40px;
          }
          span {
            line-height: 100%;
            margin-bottom: 2px;
            font-size: 12px;
            font-family: $lato-bold;
          }
        }
      }
    }
  }
}
