<div>
  <a href="http://www.interflux.com">
    <img src="/assets/images/interflux-logo.svg" alt="Interflux Electronics logo" width="197" height="49" />
  </a>
  <div>
    {{#link-to 'locale.free-demo'}}
      <h1>
        <strong>LMPA<sup>&trade;</sup></strong>
        <small>Low Melting Point Alloys</small>
      </h1>
    {{/link-to}}
  </div>
  {{#link-to 'locale.free-demo' class="button white-border" }}Free Demo{{/link-to}}
</div>
