<div class="desktop">
  <div class="logo">
    <a href="http://www.interflux.com">
      <img src="/assets/images/interflux-logo.svg" alt="Interflux Electronics logo" width="197" height="49" class="logo" />
    </a>
  </div>
  <div class="lmpa">
    {{#link-to 'locale.intro'}}
      <h1>
        <strong>LMPA<sup>&trade;</sup></strong>
        <small>Low Melting Point Alloys</small>
      </h1>
    {{/link-to}}
  </div>
  <div class="cta">
    {{#link-to 'locale.contact' class="button white-border" }}Free Demo{{/link-to}}
  </div>
</div>
<div class="mobile">
  <div class="logo">
    <h1><a href="http://www.interflux.com">Interflux</a></h1>
    <h2>{{#link-to 'locale.intro'}}LMPA<sup>&trade;</sup>{{/link-to}}</h2>
  </div>
  <div class="button">
    <button {{action 'openMobileNav'}}>
      <span>MENU</span>
      <svg width="54px" height="34px" viewBox="0 0 54 34">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill="#FFFFFF">
            <rect x="0" y="0" width="54" height="4" rx="2"></rect>
            <rect x="0" y="15" width="54" height="4" rx="2"></rect>
            <rect x="0" y="30" width="54" height="4" rx="2"></rect>
          </g>
        </g>
      </svg>
    </button>
  </div>
</div>
