<div id="logo">
  <a href="http://www.interflux.com">
    <img src="/assets/images/interflux-logo.svg" alt="Interflux Electronics logo" width="197" height="49" class="logo">
  </a>
</div>
<div id="lmpa">
  {{#link-to "locale.intro"}}
    <h1>LMPA<sup>&trade;</sup></h1>
    <h2>Low Melting Point Alloys</h2>
  {{/link-to}}
</div>
<div id="cta">
  {{#link-to "locale.contact" class="button white-border" }}Contact{{/link-to}}
</div>
{{page-nav}}
