#page-wrapper {
  min-height: 100vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  justify-content: center;
  footer,
  header,
  main {
    width: 95vw;
    margin: 0 auto;
  }
  main {
    height: 100%;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: 400ms all ease-out;
    box-sizing: border-box;
    > div {
      padding: 10vw 11vw;
    }
    // @media (max-width: 800px) {
    //   padding: 0;
    //   h2 {
    //     font-size: 34px;
    //     line-height: 120%;
    //     margin: 21vw 0;
    //     text-align: left;
    //   }
    //   p {
    //     text-align: left;
    //   }
    // }

    sup {
      width: 0;
      display: inline-block;
      transform: translateX(-4px);
    }
  }
}
