#page-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  > header {
    background: $interflux-blue;
    a,
    h1 {
      color: white;
    }
  }
  main {}
  > footer {
    background: $interflux-blue;
    p {
      color: white;
    }
  }
}
