<header>
<h1>Interflux header</h1>

<ul>
  <li>{{#link-to 'locale.speed'}}Speed{{/link-to}}</li>
  <li>{{#link-to 'locale.voiding'}}Voiding{{/link-to}}</li>
  <li>{{#link-to 'locale.costs'}}Costs{{/link-to}}</li>
</ul>

</header>

<main>
  {{outlet}}
</main>

<footer>
<p>Footer</p>
</footer>
