<div>
  <div>
    {{!-- <h2><strong>See with your own eyes</strong></h2> --}}
    {{!-- <p>Invite one of our LMPA-Q engineers to your company, wherever in the world, and we'll demonstrate LMPA-Q on your production line:</p> --}}
    {{!-- {{#if showForm}}
      <ContactForm />
    {{else}}
      <ButtonAction
        @text="Request free demo"
        @onClick={{action "showForm"}}
        class="big dark-blue"
      />
    {{/if}} --}}
  </div>

  <div>
    <h2><strong>Questions?</strong></h2>
    <p>Ask our team of LMPA-Q engineers:</p>
    <div class="row">
      {{#if showEmail}}
        <ButtonExternalLink
          @href="mailto:lmpa@interflux.com"
          @text="lmpa@interflux.com"
          class="big orange-link"
        />
      {{else}}
        <ButtonAction
          @text="lmpa@interflux.com"
          @onClick={{action "showEmail"}}
          class="big dark-blue"
        />
      {{/if}}
    </div>
  </div>
</div>