<div>
  <div>
    <h2><strong>See for your self</strong></h2>
    <p>Invite one of our LMPA engineers to your company, wherever in the world, and we'll demonstrate you in person how well LMPA performs on your production line. Free of charge.</p>
    {{#if showForm}}
      <ContactForm />
    {{else}}
      <ButtonAction
        @text="Request free demo"
        @onClick={{action "showForm"}}
        class="big dark-blue"
      />
    {{/if}}
  </div>

  <div>
    <h2><strong>Questions?</strong></h2>
    <div class="row">
      <ButtonAction
        @text="Email us"
        @onClick={{action "showEmail"}}
        class="big dark-blue"
      />
      {{#if showEmail}}
        <p>Ask our LMPA engineers:</p>
        <ButtonExternalLink
          @href="mailto:lmpa@interflux.com"
          @text="lmpa@interflux.com"
          class="big orange-link"
        />
      {{/if}}
    </div>
  </div>
</div>