main#voiding {
  > div {
    @media (min-width: 701px) {
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
  #text {
    @media (min-width: 701px) {
      width: 40%;
      padding-bottom: 80px;
    }
  }
  #images {
    display: flex;
    flex-flow: column nowrap;
    background: $background-grey;
    @media (min-width: 701px) {
      width: 50%;
    }
    .image {
      padding: 10% 10% 0;
      width: 100%;
      box-sizing: border-box;
      &:last-child {
        padding-bottom: 10%;
        padding-top: 0;
      }
      h4 {
        margin-bottom: 2vw;
        max-width: 80%;
        margin: 1.4vw auto 2.2vw;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
