<h2>Drastically reduce <strong>solder voiding</strong></h2>
<p>The LMPA<sup>&trade;</sup>-Q alloy has extremely low voiding properties.</p>
<p>Soldering components with large components like processors and chips often results in what is know as solder voiding. These are air pockets trapped below the component which weaken the connection and conductivity. With X-rays we conclude that soldering with SAC results between 40% to 70% of such voids. With LMPA&trade; you can reduce that voiding to 3% to 6%. This effectively <strong>increases the strength and conductivity</strong> of your components.</p>
