<div>
  <div id="text">
    <h2>Drastically reduce <strong>solder voiding</strong></h2>
    <p>Void formation under components with large soldering planes and low stand-off heights, such as QFN components, is a well-known phenomenon. These air pockets can <strong>reduce mechanical strength</strong> as well <strong>electrical and thermal conductivity</strong>.</p>
    <p>For Sn(Ag)Cu-based alloys, voiding levels are typically in <strong><nobr>between 10% and 35%.</nobr></strong></p>
    <p>With the
      <nobr>LMPA<sup>&trade;</sup>-Q</nobr> alloy voiding levels can be reduced to <strong><nobr>between 1% and 10%</nobr></strong>.</p>
    <p>
      {{#link-to 'locale.contact'}}Need more info?{{/link-to}}
    </p>
  </div>
  <div id="images">
    <div class="image">
      <h4 class="callout sac"><strong>Sn(Ag)Cu</strong> <span>voiding 10% to 35%</span></h4>
      <img src="/assets/images/solder-voiding-xray-SAC.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
    </div>
    <div class="image">
      <h4 class="callout lmpa"><strong>LMPA</strong>&trade; <span>voiding 1% to 10%</span></h4>
      <img src="/assets/images/solder-voiding-xray-LMPA.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
    </div>
  </div>
</div>
