<div>
  <h2><strong>Reduce solder voiding</strong>, increase mechanical strength and conductivity</h2>
  <p>Void formation under components with large soldering planes and low stand-off heights, such as QFN components, is a well-known phenomenon. These air pockets can reduce <strong>mechanical strength</strong> as well <strong>electrical and thermal conductivity</strong>. For Sn(Ag)Cu-based alloys, voiding levels are commonly in between 22 and 40%. With the LMPA<sup>&trade;</sup>-Q alloy voiding levels can be reduced <strong>below 8%</strong>.</p>
  <div id="images">
    <div class="left">
      <div class="image">
        <h3 class="sac"><strong>Sn(Ag)Cu</strong> alloys (SAC) commonly causes 45% to 22% solder voids (air pockets)</h3>
        <img src="/assets/images/solder-voiding-xray-SAC.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
      </div>
      <div>
      </div>
    </div>
    <div class="right">
      <div class="image">
        <h3 class="lmpa"><strong>LMPA</strong>™ keeps solder voids well below 8% increasing mechanical strength and conductivity</h3>
        <img src="/assets/images/solder-voiding-xray-LMPA.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
