<div>
  <h2><strong>Reduce solder voiding </strong>for increased strength and conductivity</h2>
  <p>Void formation under components with large soldering planes and low stand-off heights, such as QFN components, is a well-known phenomenon. These air pockets can reduce <strong>mechanical strength</strong> as well <strong>electrical and thermal conductivity</strong>. For Sn(Ag)Cu-based alloys, voiding levels are commonly in between 10% and 35%. With the LMPA<sup>&trade;</sup>-Q alloy voiding levels can be reduced <strong>below 8%</strong>.</p>
  <div id="images">
    <div class="left">
      <div class="image">
        <img src="/assets/images/solder-voiding-xray-SAC.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
        <h4 class="callout top sac"><strong>Sn(Ag)Cu</strong> alloys (SAC) commonly causes 10% to 35% solder voids (air pockets)</h4>
      </div>
      <div>
      </div>
    </div>
    <div class="right">
      <div class="image">
        <img src="/assets/images/solder-voiding-xray-LMPA.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
        <h4 class="callout top lmpa"><strong>LMPA</strong>™ keeps solder voids between 1% and 9% increasing mechanical strength and conductivity</h4>
      </div>
      <div>
      </div>
    </div>
  </div>
  <h3>Typical voiding levels</h3>
  <p>SAC305 on ENIG: 27% to 35%
    <br> SAC305 on Cu OSP: 10% to 23%
    <br> LMPA™ - Q on ENIG: 5% to 9%
    <br> LMPA™ - Q on Cu OSP: 1% to 4%
  </p>
</div>
