<div>
  <div>
    <h2><strong>Reduce voiding</strong></h2>
    <p>Void formation under components with large soldering planes and low stand-off heights, such as QFN components, is a well-known phenomenon. These air pockets can reduce mechanical strength as well electrical and thermal conductivity. For Sn(Ag)Cu-based alloys, <strong>voiding levels are typically in <nobr>between 10% and 35%.</nobr></strong></p>
    <p>For Sn(Ag)Cu-based alloys, voiding levels are typically in between 10% and 35%. With the LMPA<sup>&trade;</sup>-Q alloy <strong>voiding levels can be reduced <nobr>below 10%</nobr></strong>.</p>
    <p>
      {{#link-to 'locale.contact'}}Need more info?{{/link-to}}
    </p>
  </div>
  <div id="images">
    <div class="image">
      <h4 class="callout sac"><strong>Sn(Ag)Cu</strong> alloys (SAC) typically causes 10% to 35%</h4>
      <img src="/assets/images/solder-voiding-xray-SAC.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
    </div>
    <div class="image">
      <h4 class="callout lmpa"><strong>LMPA</strong>&trade; keeps voiding below 10%</h4>
      <img src="/assets/images/solder-voiding-xray-LMPA.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
    </div>
  </div>
</div>
