<h2>Drastically reduce <strong>solder voiding</strong></h2>
<div class="content">
  <div class="left">
    <div class="image">
      <img src="/assets/images/solder-voiding-xray-SAC.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
      <h3><strong>Sn(Ag)Cu</strong> soldering alloys commonly cause 20-40% solder voids</h3>
    </div>
    <div>
      <p>Void formation under components with large soldering planes and low stand-off heights, such as QFN components, is a well-known phenomenon. These air pockets can reduce <strong>mechanical strength</strong> as well <strong>electrical and thermal conductivity</strong>. For Sn(Ag)Cu-based alloys, voiding levels are commonly in between 20 and 40%.</p>
    </div>
  </div>
  <div class="right">
    <div class="image">
      <h3 class="orange"><strong>LMPA</strong>™ alloys reduce voiding below 10%</h3>
      <img src="/assets/images/solder-voiding-xray-LMPA.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
    </div>
    <div>
      <p>With the LMPA<sup>&trade;</sup>-Q alloy voiding levels can be reduced <strong>below 10%</strong>.</p>
    </div>
  </div>
</div>
