<div>
  <h2><strong>Reduce solder voiding</strong></h2>
  <p>Void formation under components with large soldering planes and low stand-off heights, such as QFN components, is a well-known phenomenon. These air pockets can reduce <strong>mechanical strength</strong> as well <strong>electrical and thermal conductivity</strong>. For Sn(Ag)Cu-based alloys, voiding levels are typically in between 10% and 35%. With the LMPA<sup>&trade;</sup>-Q alloy voiding levels can be reduced <strong>below 10%</strong>.</p>
  <div id="images">
    <div class="left">
      <div class="image">
        <img src="/assets/images/solder-voiding-xray-SAC.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
        <h4 class="callout top sac"><strong>Sn(Ag)Cu</strong> alloys (SAC) typically causes 10% to 35%</h4>
      </div>
      <div>
      </div>
    </div>
    <div class="right">
      <div class="image">
        <img src="/assets/images/solder-voiding-xray-LMPA.jpg" alt="solder voiding on a QFN component soldered with SAC" width="500" height="500">
        <h4 class="callout top lmpa"><strong>LMPA</strong>™ keeps voiding below 10%</h4>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
