#contact-page {
  h2 {
    strong {
      display: block;
    }
  }
  .field {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    text-align: left;
    input {
      width: 100%;
      height: 5vw;
      padding: 0 13px;
      padding: 0 1.6vw;
      font-size: 1.8vw;
      line-height: 38px;
      line-height: 5vw;
      background: #fff;
      border: 1px solid #eee;
      border-radius: 0.3vw;
      outline: 0 !important;
      box-shadow: none;
      box-sizing: border-box;
      transition: all 300ms ease-out;
      transition-property: border-color, color;

      -webkit-appearance: none;
      &:focus {
        color: $interflux-light-blue;
        border-color: $interflux-light-blue;
      }
      &::-ms-clear {
        display: none;
      }
    }
  }
  button {
    width: 100%;
    margin-top: 2vw;
    font-size: 2vw;
    line-height: 5vw;
    border-radius: 0.4vw;
  }
}
