<div>
  <h2>Reduce <strong>dross formation</strong></h2>
  <p>The <nobr>LMPA-Q</nobr> does not need nitrogen for wave soldering. Due to its low oxydation behaviour, dross formation is reduced to an absolute minimum.</p>
  <div id="images">
    <div>
      <h4 class="callout sac">SAC 305 dross after 7 production shifts &asymp; 7kg</h4>
      <img src="/assets/images/dross-sac.jpg" alt="dross formation SAC" width="246" height="304">
    </div>
    <div>
      <h4 class="callout lmpa">LMPA-Q dross after 7 production shifts &asymp; 0.4kg</h4>
      <img src="/assets/images/dross-lmpa.jpg" alt="dross formation LMPA" width="380" height="218">
    </div>
  </div>
</div>
