<h2>Solder <strong>5 times</strong> faster than SAC and with zero defects</h2>
<p>The average selective soldering machine using SAC will move on average at 0.7cm per second. The reason it has to go this slow is to reduce the chance of defects. With LMPA&trade; you can speed up five times faster whilst maintaining zero defects. This will <strong>increase your production capacities</strong>. You need only 1 production line for the same capacity of 5 production lines. This substantially <strong>reduces your investment cost</strong> and you need <strong>less production space</strong></p>
