#app-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  #logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 18px;
    box-sizing: border-box;
    @media (min-width: 601px) {
      width: 30%;
    }
    @media (max-width: 340px) {
      padding-left: 7px;
    }
    a {
      display: block;
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 28vw;
        height: auto;
        max-width: 238px;
        min-width: 180px;
      }
    }
  }
  #lmpa {
    img {
      height: 70px;
      width: auto;
      @media (max-width: 900px) {
        height: 7vw;
      }
    }
  }
  #cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }
}
