<meta
  itemprop="name"
  content="Interflux Electronics"
>

<div id="logo">
  <a
    href="https://interflux.com/"
    itemprop="url"
  >
    <img
      src="/assets/images/interflux-logo.svg"
      alt="Interflux Electronics"
      width="197"
      height="49"
      class="logo"
      itemprop="logo"
    >
  </a>
</div>

<div
  id="lmpa"
  itemprop="brand"
  itemscope
  itemtype="https://schema.org/Brand"
>
  <ButtonRoute
    @route="locale.intro"
    class="big white-border"
  >
    <h1 itemprop="name">LMPA<sup>&trade;</sup></h1>
    <h2 itemprop="alternateName">Low Melting Point Alloys</h2>
    <meta
      itemprop="url"
      content="https://lmpa.interflux.com"
    >
  </ButtonRoute>
</div>

<div id="cta">
  <ButtonAction
    @onClick={{action "openLiveChat"}}
    @text="Free demo"
    class="big white-border"
  />
</div>

<AppNav />
