<meta
  itemprop="name"
  content="Interflux Electronics"
>

<div id="logo">
  <a
    href="https://interflux.com/"
    itemprop="url"
  >
    <img
      src="/assets/images/interflux-logo.svg"
      alt="Interflux Electronics"
      width="197"
      height="49"
      class="logo"
      itemprop="logo"
    >
  </a>
</div>

<div
  id="lmpa"
  itemprop="brand"
  itemscope
  itemtype="https://schema.org/Brand"
>
  <ButtonRoute
    @route="locale.intro"
  >
    <img src="{{cdn}}/images/logos/LMPA-Q-logo-orange-rectangle.svg" width="1000" height="312" />
    <meta itemprop="name" content="LMPA-Q">
    <meta itemprop="alternateName" content="Low Melting Point Alloys">
    <meta
      itemprop="url"
      content="https://lmpa.interflux.com"
    >
  </ButtonRoute>
</div>

<div id="cta">
  <ButtonRoute
    @route="locale.contact"
    @text="Contact"
    class="big white-border"
  />
</div>

<AppNav />
