footer {
  > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 0;
  }
  .button {
    padding: 0;
    width: 15vw;
  }
  ul {
    display: flex;
    flex-flow: row nowrap;
    li {
      a {
        position: relative;
        display: block;
        padding: 10px;
        text-decoration: none;
        &:after,
        &:before {
          display: block;
          content: ' ';
          border-radius: 50%;
        }
        &:before {
          width: 10px;
          height: 10px;
          background: white;
        }
        &:after {
          position: absolute;
          border: 1px solid orange;
          transition: transform 500ms ease;
          width: 10px;
          height: 10px;
          box-sizing: border-box;
          top: 10px;
          left: 10px;
          transform: scale(0);
        }
        &.active {
          &:after {
            transform: scale(1.8);
          }
          &:before {
            background: orange;
          }
        }
      }
    }
  }
}
