footer {
  min-width: 320px;
  nav {
    padding: 1vw;
    box-sizing: border-box;
  }
  p {
    max-width: none;
    margin: 50px 0 10px;
    color: white;
    text-align: center;
    opacity: 0.5;
  }
}
