<div>
  {{#link-to 'index' class="button white-border"}}Previous{{/link-to}}
  <ul>
    <li>{{#link-to 'locale.solder-faster'}}Solder faster{{/link-to}}</li>
    <li>{{#link-to 'locale.reduce-voiding'}}Reduce voiding{{/link-to}}</li>
    <li>{{#link-to 'locale.reduce-costs'}}Reduce costs{{/link-to}}</li>
    <li>{{#link-to 'locale.heat-failures'}}Heat failures{{/link-to}}</li>
    <li>{{#link-to 'locale.free-demo'}}Free demo{{/link-to}}</li>
  </ul>
  {{#link-to 'index' class="button white-border"}}Next{{/link-to}}
</div>
