<div>
  <h2>
    <small>Interflux presents:</small>
    <strong>Low Melting Point Alloys (LMPA)</strong>
  </h2>
  <TemperatureGauge />
  <div id="cta">
    <ButtonRoute
      @route="locale.overview"
      @text="Learn more"
      class="big grey-border"
    />
  </div>
</div>
