main#intro {
  > div {
    padding-bottom: 0;
  }
  h2 {
    margin: 80px 0 100px;
    margin-right: auto;
    margin-left: auto;
    font-size: 36px;
    text-align: center;
    small {
      display: block;
      margin-bottom: 10px;
      font-size: 70%;
    }
  }
  .temperature-gauge {
    margin: 120px 0 0;
  }
  #cta {
    padding: 50px 0 90px;
    text-align: center;
    a.button {
      padding: 0 29px;
      font-family: $lato-regular;
      font-size: 20px;
      line-height: 240%;
      color: white;
      color: $paragraph-grey;
      border: 1px solid #EEE;
      border-radius: 4px;
      &:hover {
        color: $interflux-light-blue;
        border-color: $interflux-light-blue;
      }
    }
  }
}
