main#intro {
  > div {
    max-width: 60vw;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  ul {
    &#benefits {
      margin-top: 2.4vw;
      li {
        .check {
          margin: 0 2vw 0 1vw;
        }
        svg {
          width: 22px;
          height: 22px;
          path {
            fill: $interflux-light-blue;
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      }
    }
    &#processes {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 1vw;
      }
      img {
        width: 5vw;
        height: 5vw;
        margin: 0 2vw 0 0;
      }
    }
  }
}
