main#intro {
  h2 {
    margin: 80px 0 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    small {
      display: block;
    }
  }
  .temperature-gauge {
    margin: 150px 0;
  }
  #cta {
    margin-top: 100px;
    text-align: center;
    a.button {
      padding: 0 29px;
      font-family: $lato-regular;
      font-size: 20px;
      line-height: 240%;
      color: white;
      color: $paragraph-grey;
      border: 2px solid #EEE;
      border-radius: 4px;
      &:hover {
        color: $lmpa-orange;
      }
    }
  }
}
