<div>
  <h2>
    <small>Interflux presents:</small>
    <strong>Low melting point solder alloys</strong>
  </h2>
  {{temperature-gauge}}
  <div id="cta">
    {{#link-to 'locale.overview' class='button'}}Learn more{{/link-to}}
  </div>
</div>
