<div>
  <h2><strong>What are LMPA?</strong></h2>
  <p><strong>LMPA&trade;</strong> is short for <strong>Low Melting Point Alloys</strong> and refers to a range of products developed by <a href="http://www.interflux.com" target="_blank">Interflux Electronics</a>. These alloys make it possible for you to solder at temperatures between 190&deg;C to 250&deg;C. This is considerably lower than the traditional Sn(Ag)Cu (SAC) which operates between temperatures of 235&deg;C and 320&deg;C.</p>
  <p><strong>LMPA-Q&trade;</strong> is an <strong>enhanced LMPA</strong> with superior mechanical properties compared to Sn(Ag)Cu alloys (SAC). The benefits are numerous:</p>
  <ul>
    <li>
      {{#link-to 'locale.speed'}}Solder 5 times faster and with zero defects{{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.voiding'}}Reduce solder voiding below 9%{{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.costs'}}Lower production costs &amp; increase{{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.heat-failures'}}Avoid heat-related board and component failures{{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.dross'}}No more dross formation (oxides){{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.wetting'}}Achieve excellent wetting{{/link-to}}
    </li>
  </ul>
  <p>LMPA-Q&trade; can be used for all soldering processes:</p>
  <ul>
    <li>for wave soldering</li>
    <li>for selective soldering</li>
    <li>for reflow soldering</li>
  </ul>
</div>
