<div>
  <h2>Low Melting Point Alloys</h2>
  <p>LMPA<sup>&trade;</sup>-Q is an enhanced low melting point alloy that can be used for <strong>all</strong> soldering processes. It has superior mechanical properties compared to Sn(Ag)Cu solders.</p>
  <p>The benefits of using the LMPATM -Q alloy are numerous, as well in the process as from a cost point of view.</p>
</div>
