<div>
  <h2>
    <small>Interflux presents:</small>
    <strong>Low Melting Point Alloys</strong>
  </h2>
  <div id="guage">
    {{temperature-gauge}}
  </div>
  {{#link-to 'locale.overview' class='button'}}Learn more{{/link-to}}
</div>
