<div>
  <h2>Eliminate <strong>dross formation</strong></h2>
  <p>The LMPA<sup>&trade;</sup>-Q does not need nitrogen for wave soldering. Due to its low oxydation behaviour, dross formation is reduced to an absolute minimum.</p>
  <h3>7 production shifts worth of oxides</h3>
  <h4 class="callout sac">SAC 305 dross after 7 shifts &asymp; 7kg</h4>
  <img src="/assets/images/dross-sac.jpg" alt="dross formation SAC" width="246" height="304">
  <h4 class="callout lmpa">LMPA<sup>&trade;</sup> dross after 7 shifts &asymp; 0.4kg</h4>
  <img src="/assets/images/dross-lmpa.jpg" alt="dross formation LMPA" width="380" height="218">
</div>
