<div>
  <h2>Eliminate <strong>dross formation</strong> when wave soldering</h2>
  <p>The LMPA<sup>&trade;</sup>-Q does not need nitrogen for wave soldering. Due to its low oxydation behaviour, dross formation is reduced to an absolute minimum.</p>
</div>
