#page-overview {
  > div {
    > div {
      margin: 0 auto;
    }
  }
  h2 {
    margin: 80px 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    small {
      display: block;
    }
  }
  .page > h3 {
    margin: 5vw 0 1vw;
    text-align: center;
    transform: translateY(280px);
    z-index: 1;
    position: relative;
  }
  p {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #processes {
    position: relative;
    padding-top: 30px;
    > div {
      padding-left: 90px;
      margin-bottom: 30px;
      img {
        position: absolute;
        left: 0;
        width: 70px;
        height: 70px;
        margin: 0 auto;
      }
      h3 {
        margin: 0;
        margin-bottom: 12px;
        font-family: $lato-regular;
        font-family: $lato-bold;
        font-size: 17px;
      }
      p {
        margin: 0;
      }
    }
  }
  a {
    text-decoration: none;
  }
  ul {
    &#benefits {
      margin-top: 2.4vw;
      li {
        svg {
          margin: 0 20px 0 0;
          width: 22px;
          height: 38px;
          path {
            fill: $interflux-light-blue;
          }
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
}
