<div>
  <div>
    <h2><strong>What are LMPA?</strong></h2>
    <div
      itemprop="brand"
      itemscope
      itemtype="https://schema.org/Brand"
    >
      <h3 itemprop="name">LMPA<sup>&trade;</sup></h3>
      <p itemprop="description">LMPA is short for Low Melting Point Alloys<sup>&trade;</sup>. These alloys allow you to use soldering temperatures that are considerably lower than for the traditional lead-free Sn(Ag)Cu (SAC) alloys.</p>
      <meta
        itemprop="url"
        content="https://lmpa.interflux.com"
      >
    </div>
    <div
      itemprop="owns"
      itemscope
      itemtype="https://schema.org/Product"
    >
      <h3 itemprop="name">LMPA-Q<sup>&trade;</sup></h3>
      <p itemprop="description">
        <nobr>LMPA-Q<sup>&trade;</sup></nobr> is an enhanced LMPA<sup>&trade;</sup> with superior mechanical properties. It's without exception the best alloy we have developed so far. The benefits are numerous.
      </p>
      <meta
        itemprop="url"
        content="https://lmpa.interflux.com"
      >
    </div>
    <h3>What LMPA-Q will allow you to do</h3>
    <ul id="benefits">
      <li>
        <ButtonLink @route="locale.wetting">
          <SvgCheck />
          <span>Solder at lower temperatures between 190ºC and 250ºC</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.speed">
          <SvgCheck />
          <span>Solder 5 times faster with zero defects</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.voiding">
          <SvgCheck />
          <span>Reduce voiding below 10%</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.costs">
          <SvgCheck />
          <span>Reduce production costs</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.speed">
          <SvgCheck />
          <span>Increase production line capacity</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.costs">
          <SvgCheck />
          <span>Reduce your carbon footprint</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.heat-failures">
          <SvgCheck />
          <span>Avoid heat-related board and component failures</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink
          @route="locale.dross"
          class="hyperlink"
        >
          <SvgCheck />
          <span>No more need for nitrogen</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.dross">
          <SvgCheck />
          <span>Eliminate dross formation (oxides)</span>
        </ButtonLink>
      </li>
      <li>
        <ButtonLink @route="locale.wetting">
          <SvgCheck />
          <span>Excellent wetting</span>
        </ButtonLink>
      </li>
    </ul>
    <h3>For all soldering processes</h3>
    <p>LMPA<sup>&trade;</sup>-Q can be used for all soldering processes:</p>
    <div id="processes">
      <div class="wave">
        <img
          src="/assets/images/wave-soldering.jpg"
          alt="wave soldering icon"
        >
        <h3>Wave soldering</h3>
        <p>LMPA-Q: 200°C - 230°C</p>
        <p>Sn(Ag)Cu: 260°C - 280°C</p>
      </div>
      <div class="selective">
        <img
          src="/assets/images/selective-soldering.jpg"
          alt="selective soldering icon"
        >
        <h3>Selective soldering</h3>
        <p>LMPA-Q: 200°C - 250°C</p>
        <p>Sn(Ag)Cu: 270°C - 320°C</p>
      </div>
      <div class="reflow">
        <img
          src="/assets/images/reflow-soldering.jpg"
          alt="reflow soldering icon"
        >
        <h3>Reflow soldering</h3>
        <p>LMPA-Q: 190°C - 220°C</p>
        <p>Sn(Ag)Cu: 235°C - 250°C</p>
      </div>
    </div>
  </div>
</div>