<div>
  <div class="page" itemprop="brand" itemtype="https://schema.org/Brand"itemscope>
    <meta
      itemprop="url"
      content="https://lmpa.interflux.com"
    >
    <h2>What is <strong>LMPA-Q?</strong></h2>
    <p itemprop="description">LMPA-Q is a low melting point alloy (aka LMPA) developed by Interflux Electronics for soldering electronics at temperatures lower than for the traditional lead-free Sn(Ag)Cu alloys (SAC). LMPA-Q has enhanced mechanical properties and is suitable for most electronic applications that are today being soldered with Sn(Ag)Cu alloys.</p>

    <h3>Wave soldering</h3>
    <TemperatureGauge @process="wave" />

    <h3>Selective soldering</h3>
    <TemperatureGauge @process="selective" />

    <h3>Reflow soldering</h3>
    <TemperatureGauge @process="reflow" />
  </div>
</div>