main#heat-failures {
  > div {
    padding-top: 1px;
  }
  h2 {
    margin: 80px 0;
    max-width: 560px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .temperature-guage {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    svg {
      display: block;
      width: 24vw;
      height: 100%;
    }
  }
  p {
    margin-left: auto;
    margin-right: auto;
  }
}
