<div>
  <h2>Avoid <strong>heat related</strong> board and component failures</h2>
  <img src="/assets/images/heat-gauge.svg" width="589" height="245" />
  <p>Current lead-free soldering temperatures can damage or predamage temperature sensitive components and PCB board materials. Furthermore they can also cause a shift in the properties of some components which can impact the functionality of sensitive electronic circuits.</p>
  <p>Affected components can for example be: Capacitors, BGAs, LGAs, fuses, displays, crystal oscillators, LEDs, displays, components with a plastic body, coils and transformers,...</p>
  <p>The LMPA-Q&trade; low melting point alloy allows for lower soldering temperatures and virtually eliminates the risk on damage by thermal stress, facilitating the use of temperature sensitive components and PCB board materials.</p>
</div>
