main#speed {
  h2 {
    text-align: left;
  }
  h2+p {
    max-width: 50vw;
    text-align: left;
  }
  #videos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 12vw;
    > div {
      position: relative;
      background: #008000;
      h3 {
        max-width: 80%;
        box-sizing: border-box;
        position: absolute;
        left: 4%;
        bottom: 94%;
        padding: 0.7vw 1.3vw;
      }
    }
    .clip {
      overflow: hidden;
      width: 34vw;
      height: 27vw;
      display: flex;
      justify-content: center;
      iframe {
        width: 36vw;
        height: 27vw;
        flex-shrink: 0;
      }
    }
  }
}
