main#speed {
  #video {
    position: relative;
    padding: 20px 0;
    background: #F3F3F3;
    iframe {
      @media (max-width: 600px) {
        width: 100vw;
        height: 58vw;
      }
      max-width: 100%;
    }
  }
  #videos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 5vw;
    > div {
      width: 40vw;
      iframe {
        width: 38vw;
        height: 27vw;
      }
    }
  }
}
