main#speed {
  h2 {
    text-align: left;
  }
  #videos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 15vw 0 2vw;
    > div {
      position: relative;
      h3 {
        max-width: 80%;
        box-sizing: border-box;
        position: absolute;
        left: 4%;
        bottom: 94%;
        padding: 0.9vw 1.5vw;
        font-size: 1.8vw;
        line-height: 140%;
      }
    }
    .clip {
      overflow: hidden;
      width: 34vw;
      height: 27vw;
      display: flex;
      justify-content: center;
      iframe {
        width: 36vw;
        height: 27vw;
        flex-shrink: 0;
      }
    }
  }
}
