<h2>Fast selective soldering with zero defects</h2>
<p>LMPA<sup>&trade;</sup>-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA<sup>&trade;</sup>-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA<sup>&trade;</sup>-Q will facilitate a zero defect process.</p>
<div id="videos">
  <div id="sac">
    <p>Sn(Ag)Cu solder speed &asymp; 7mm/s</p>
    <iframe src="https://player.vimeo.com/video/107049478?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div id="lmpa">
    <p>LMPA<sup>&trade;</sup>-Q solder speed &asymp; 50mm/s</p>
    <iframe src="https://player.vimeo.com/video/107049478?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
