<div>
  <h2><strong>Faster</strong> selective soldering with zero defects</h2>
  <p>LMPA<sup>&trade;</sup>-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA<sup>&trade;</sup>-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA<sup>&trade;</sup>-Q will facilitate a zero defect process.</p>
</div>
<div id="video">
  <h3 class="orange"><strong>LMPA&trade;-Q</strong> alloys solder at speeds up to 20mm/s with zero defects</h3>
  <iframe src="https://player.vimeo.com/video/209357302?color=FF7300&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div>
  <p>In the video above we demonstrate how LMPA&trade;-Q solders at speeds up to 20mm/s with zero defects.</p>
</div>
