<div>
  <div>
    <h2><strong>5 times faster soldering</strong> <nobr>with zero defect</nobr></h2>
    <p>LMPA-Q<sup>&trade;</sup>-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA-Q will facilitate a <strong>zero defect</strong> process.</p>
  </div>
  <div id="videos">
    <div id="sac">
      <h4 class="callout sac top">
      <strong>Sn(Ag)Cu</strong> alloys are typically limited to speeds of 5mm/s to avoid defects
    </h4>
      <div class="clip">
        <iframe src="https://player.vimeo.com/video/211959953?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div id="lmpa">
      <h4 class="callout top lmpa">
        <strong>LMPA<sup>&trade;</sup></strong> can solder at speeds up to 30mm/s with zero defect
      </h4>
      <div class="clip">
        <iframe src="https://player.vimeo.com/video/211943979?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
