<div>
  <div>
    <h2><strong>5 times faster soldering</strong> <nobr>with zero defect</nobr></h2>
    <p>LMPA<sup>&trade;</sup>-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA-Q will facilitate a <strong>zero defect</strong> process.</p>
  </div>
  <div id="videos">
    <div id="sac">
      <h4 class="callout sac top">
      <strong>Sn(Ag)Cu</strong> alloys are typically limited to speeds of 5mm/s to avoid defects
      </h4>
      <div class="clip">
        <video width="100%" autoplay loop poster="/assets/videos/LMPA-Q-30mms-poster.webp" >
          <source src="/assets/videos/SAC-5mms-360p.mp4" type="video/mp4">
          <source src="/assets/videos/SAC-5mms-540p.mp4" type="video/mp4">
          <source src="/assets/videos/SAC-5mms-original.asx" type="video/asx">
          Your browser doesn't support HTML5 video tag.
        </video>
      </div>
    </div>
    <div id="lmpa">
      <h4 class="callout top lmpa">
        <strong>LMPA<sup>&trade;</sup></strong> can solder at speeds up to 30mm/s with zero defect
      </h4>
      <div class="clip">
        <video width="100%" autoplay loop poster="/assets/videos/LMPA-Q-30mms-poster.webp" >
          <source src="/assets/videos/LMPA-Q-30mms-360p.mp4" type="video/mp4">
          <source src="/assets/videos/LMPA-Q-30mms-540p.mp4" type="video/mp4">
          <source src="/assets/videos/LMPA-Q-30mms-original.asx" type="video/asx">
          Your browser doesn't support HTML5 video tag.
        </video>
      </div>
    </div>
  </div>
</div>
