<div>
  <h2><strong>5 times faster</strong> selective soldering with zero defects</h2>
  <p>LMPA-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA-Q will facilitate a zero defect process.</p>
</div>
<div id="videos">
  <div id="sac">
    <iframe src="https://player.vimeo.com/video/211959953?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div id="lmpa">
    <iframe src="https://player.vimeo.com/video/211943979?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
