<div>
  <h2>Solder <strong>5 times faster</strong> with <strong>zero defects</strong></h2>
  <p>LMPA-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA-Q will facilitate a <strong>zero defect</strong> process.</p>
  <div id="videos">
    <div id="sac">
      <h3 class="callout sac">
      <strong>Sn(Ag)Cu</strong> alloys are traditionally limited to speeds of 3mm/s to avoid defects
    </h3>
      <div class="clip">
        <iframe src="https://player.vimeo.com/video/211959953?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div id="lmpa">
      <h3 class="callout lmpa">
        <strong>LMPA&trade;</strong> can solder at speeds up to 20mm/s while maintaining zero defects
      </h3>
      <div class="clip">
        <iframe src="https://player.vimeo.com/video/211943979?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
