<div>
  <div>
    <h2><strong>5 times faster soldering</strong> <nobr>with zero defect</nobr></h2>
    <p>LMPA<sup>&trade;</sup>-Q allows for up to 5 times faster production speeds than Sn(Ag)Cu alloys in combination with lower preheat and soldering temperatures. LMPA-Q provides easy through hole wetting on thermally heavy components and all finishings including OSP. Moreover, the low oxydation and bridging behaviour of LMPA-Q will facilitate a <strong>zero defect</strong> process.</p>
    <!-- <iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/N4iI1JnC--M?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe> -->
    <!-- <iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/Kf4GkHsRB2w?autoplay=1&controls=0&showinfo=0&autohide=1"></iframe> -->

  </div>
  <div id="videos">
    <div id="sac">
      <h4 class="callout sac top">
      <strong>Sn(Ag)Cu</strong> alloys are typically limited to speeds of 5mm/s to avoid defects
    </h4>
      <div class="clip">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QtdPBDp_xGs?autoplay=1&loop=1&rel=0&showinfo=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
        <!-- <iframe src="https://player.vimeo.com/video/211959953?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="800" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <!-- <iframe src="https://player.vimeo.com/video/211959953?autoplay=1&loop=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      </div>
    </div>
    <div id="lmpa">
      <h4 class="callout top lmpa">
        <strong>LMPA<sup>&trade;</sup></strong> can solder at speeds up to 30mm/s with zero defect
      </h4>
      <div class="clip">
        <!-- <iframe src="https://player.vimeo.com/video/211943979?autoplay=1&loop=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <iframe src="https://www.youtube.com/embed/-OCow9vzepk?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
