.form-search {
  &.show-dropdown {
    input {
      border-radius: 3px 3px 0 0;
    }
  }
  .wrapper {
    width: 100%;
  }
  .dropdown {
    position: relative;
    ul {
      position: absolute;
      left: 0;
      top: -1px;
      width: 100%;
      background: rgba(white, 90%);
      border: 1px solid #eee;
      box-sizing: border-box;
      li {
        padding: 10px;
        cursor: pointer;
        &:hover,
        &.mark {
          background: $interflux-light-blue;
          color: white;
        }
      }
    }
  }
}
