nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-width: 320px;
  background: rgba(white,0.15);
  box-sizing: border-box;
  padding: 10px;
  @media (max-width: 1080px) {
    padding: 1vw;
  }
  @media (max-width: 700px) {
    padding: 7px;
  }
  ul {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 1;
    max-width: 453px;
    @media (max-width: 1080px) {
      max-width: 42vw;
    }
    li {
      width: 42px;
      @media (max-width: 1080px) {
        width: 4vw;
      }
      a {
        position: relative;
        display: block;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        @media (max-width: 1080px) {
          width: 3vw;
          height: 3vw;
        }
        &:after,
        &:before {
          display: block;
          content: ' ';
          border-radius: 100%;
          width: 33.333%;
          height: 33.333%;
        }
        &:before {
          background: white;
          transition: color 500ms ease;
        }
        &:after {
          position: absolute;
          border: 1px solid orange;
          transition: transform 500ms $easeOutBack;
          box-sizing: border-box;
          transform: scale(0);
        }
        // svg {
        //   circle {
        //     &.inner {
        //       fill: white;
        //       transition: fill-color 500ms ease;
        //     }
        //     &.outer {
        //       transform: scale(0);
        //       opacity: 0;
        //       transition: all 500ms $easeOutBack;
        //       transition-property: transform, opacity;
        //     }
        //   }
        // }
        &.active,
        &:hover {
          // circle {
          //   &.inner {
          //     fill: orange;
          //   }
          //   &.outer {
          //     transform: scale(1);
          //     opacity: 1;
          //   }
          // }
          &:after {
            transform: scale(1.8);
          }
          &:before {
            background: orange;
          }
        }
      }
    }
  }
}
