{{#link-to prevRoute data-test-prev class="button white-border"}}Back{{/link-to}}
<ul>
  {{#each allRoutes as |route|}}
    <li>
      {{#link-to route}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{#link-to nextRoute data-test-next class="button white-border"}}Next{{/link-to}}
