{{#link-to prevRoute class="button white-border" }}Back{{/link-to}}
<ul>
  {{#each allRoutes as |route|}}
    <li>
      {{#link-to route}}
        <!-- {{svg-circles}} -->
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{#link-to nextRoute class="button white-border" }}Next{{/link-to}}
