

<div id="test-videos">
  <video width="410" height="336" autoplay loop poster="/assets/videos/selective-soldering-with-LMPA-at-30mms.jpg">
    <source src="/assets/videos/selective-soldering-with-LMPA-Q-at-30mms.mp4" type="video/mp4" />
    <source src="/assets/videos/selective-soldering-with-LMPA-Q-at-30mms.ogg" type="video/ogg" />
    <source src="/assets/videos/selective-soldering-with-LMPA-Q-at-30mms.webm" type="video/webm" />
  </video>

  <video width="410" height="336" autoplay loop>
    <source src="/assets/videos/LMPAQ-30mms-test-ipad.mp4" type="video/mp4" />
  </video>

  <video width="410" height="336" autoplay loop>
    <source src="/assets/videos/LMPAQ-30mms-test-ipad-2.mp4" type="video/mp4" />
  </video>

  <video width="410" height="336" autoplay loop>
    <source src="/assets/videos/LMPAQ-30mms-test-ipad-3.mp4" type="video/mp4" />
  </video>

  <video width="410" height="336" autoplay loop>
    <source src="/assets/videos/LMPAQ-30mms-test-ipad-4.mp4" type="video/mp4" />
  </video>

  <video width="410" height="336" autoplay loop>
    <source src="/assets/videos/LMPAQ-30mms-test-ipad-5.m4v" type="video/mp4" />
  </video>

  <video width="410" height="336" autoplay loop>
    <source src="/assets/videos/LMPAQ-30mms-test-ipad-6.mp4" type="video/mp4" />
  </video>
</div>
