<div id="test-videos">
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-rf20-main31.mp4" type="video/mp4" />
  </video>
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-rf20-autoauto-weboptimized.mp4" type="video/mp4" />
  </video>
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-rf20-baseline31-weboptimized.mp4" type="video/mp4" />
  </video>
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-rf20-high41-weboptimized.mp4" type="video/mp4" />
  </video>
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-rf20-main31-weboptimized.mp4" type="video/mp4" />
  </video>

  <p>h264-30fps-2500kbps-2passturbo-baseline31-weboptimized</p>
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-2500kbps-2passturbo-baseline31-weboptimized.mp4" type="video/mp4" />
  </video>

  <p>h264-30fps-2500kbps-2passturbo-baseline31-weboptimized-denoisemeans</p>
  <video width="410" height="338" autoplay loop>
    <source src="/assets/videos/h264-30fps-2500kbps-2passturbo-baseline31-weboptimized-denoisemeans.mp4" type="video/mp4" />
  </video>
</div>
